{{define "Index"}}
<!DOCTYPE html>
<html lang="pt-BR">
  {{template "_Head"}}
  <body>
    {{template "_Navbar"}}
    <div class="container">
      <table class="table border table-striped table-hover mb-0">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody>
          {{range .}}
          <tr>
            <td>{{.Name}}</td>
            <td>{{.Description}}</td>
            <td>{{.Price}}</td>
            <td>{{.Quantity}}</td>
            <td>
              <button class="btn btn-danger" onclick="onDelete('{{.Id}}')">
                Deletar
              </button>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
    <div class="container mt-4">
      <a class="btn btn-info" href="/novo-produto">Adicionar produto</a>
    </div>
  </body>

  <script>
    function onDelete(id) {
      let resp = confirm("Tem certeza que deseja deletar esse produto?");

      if (resp) {
        window.location = `/delete?id=${id}`;
      }
    }
  </script>
</html>
{{end}}
